{% extends "base.html" %}
{% block navigate_upload %}class="active"{% endblock %}
{% block context %}
<div class="page-header d-md-flex justify-content-between align-items-center">
    <h4>原始数据导入</h4>
</div>
<div class="card">
    <div class="card-header">创建项目</div>
    <div class="card-body">
        <form action="" enctype='multipart/form-data' method='POST'>
            <table class="table table-bordered">
                <tr>
                    <td>项目名</td>
                    <td><input type="text" id="name"></td>
                </tr>
                <tr>
                    <td>项目描述</td>
                    <td><textarea rows="6" cols="30" id="desc" placeholder="填写项目描述"></textarea></td>
                </tr>
            </table>
            <div class="btn btn-primary" id="create_project" onclick="javascript:;">创建</div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    $("#create_project").click(function () {
        var name = $("#name").val();
        var desc = $("#desc").val();
        var _data = {"name": name,"desc":desc};
        $.ajax({
            url: '{{ url_for('project.create') }}',
            type: 'POST',
            data: JSON.stringify(_data),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                window.location.href = data['url'];
            },
            error: function (xhr) {
                console.error('error');
            }
        });
    });
</script>
{% endblock %}