{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for("static",filename="assets2/js/manage.js") }}"></script>
    <script src="{{ url_for("static",filename="assets2/js/pagination.js") }}"></script>
{% endblock %}
{% block navigate_datas %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="page-header d-md-flex justify-content-between align-items-center">
        <h4>选择要查看的项目</h4>
    </div>
    <div class="card">
        <div class="card-header">选择要查看的项目</div>
        <div class="card-body">
            <table class="table table-bordered" id="example_r">
                <thead class="thead-light">
                    <tr>
                        <th>项目名</th>
                        <th>项目描述</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="table-content">
                    {% for x in p %}
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.describe}}</td>
                        <td><a class="screen-btn" id="data_btn" href="{{url_for("main.set_project",pid=x.id)}}">设置</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div id="data_widget"></div>
        </div>
    </div>
{% endblock %}