{% extends "base.html" %}
{% block navigate_intelligent_check %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="page-header d-md-flex justify-content-between align-items-center">
        <h4>智能审核</h4>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>选择算法</td>
                    <td>
                        <select id="algorithm">
                            {% for x in algorithms%}
                            <option value="{{x.id}}">{{x['name']}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>参数1</td>
                    <td>123</td>
                </tr>
                <tr>
                    <td>参数2</td>
                    <td>5563</td>
                </tr>
                <tr>
                    <td>参数3</td>
                    <td>56643</td>
                </tr>
                <tr>
                    <td>数据起止ID(最大11456: 最小:1)</td>
                    <td>起始ID:<input type="text" id="id_start" value="1" name="auto_checked">
                        终止ID:<input type="text" id="id_end" value="11456" name="auto_checked">
                    </td>
                </tr>
                <tr>
                    <td>选择要检测的数据元素</td>
                    <td><input type="checkbox" name="parameters" value="1" checked="">水温
                        <input type="checkbox" name="parameters" value="2" checked="">pH
                        <input type="checkbox" name="parameters" value="3" checked="">溶解氧
                        <input type="checkbox" name="parameters" value="4" checked="">电导率
                        <input type="checkbox" name="parameters" value="5" checked="">浊度
                        <input type="checkbox" name="parameters" value="6" checked="">高锰酸盐指数
                        <input type="checkbox" name="parameters" value="7" checked="">氨氮
                        <input type="checkbox" name="parameters" value="8" checked="">总磷
                        <input type="checkbox" name="parameters" value="9" checked="">总氮
                        <input type="checkbox" name="parameters" value="10" checked="">叶绿素α
                        <input type="checkbox" name="parameters" value="11" checked="">藻密度
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btn btn-primary">
                <div class="screen-btn" id="start" onclick="javascript:;">开始</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">审核结果</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>检测的数据总数</td>
                        <td>11456
                        </td>
                    </tr>
                    <tr>
                        <td>异常数量</td>
                        <td>345</td>
                    </tr>
                    <tr>
                        <td>异常比例</td>
                        <td>0.03%</td>
                    </tr>
                    <tr>
                        <td>检测的数据元素</td>
                        <td>
                            高锰酸盐指数;氨氮;总磷
                        </td>
                    </tr>
                    <tr>
                        <td>检测结果</td>
                        <td>[ 1., 1., 1., 1., 1., 1., 1., 1., 1., -1., -1., 1., 1.,<br>
                            1., 1., 1., 1., 1., 1., 1., 1., -1., 1., 1., 1., 1.,<br>
                            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,<br>
                            1., 1., 1., 1., -1., 1., -1., -1., 1., 1., 1., 1., 1.,<br>
                            1., 1., 1., 1., -1., 1., 1., 1., 1., 1., 1., -1., 1.,<br>
                            1., 1., 1., 1., 1., 1., -1., 1., 1., 1., 1., 1., 1.,<br>
                            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,<br>
                            1., 1., 1., 1., 1.]<br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
<script type="text/javascript">
    select_algorithm = document.getElementById("algorithm")
    desc = document.getElementById("algorithms_desc")
    for(var i=0;i<desc.children.length;i++){
    id_split = desc.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        desc.children[i].style.display="table-row";
    }else{
        desc.children[i].style.display="none";
    }}
    paras = document.getElementById("algorithms_paras")
    for(var i=0;i<paras.children.length;i++){
    id_split = paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        paras.children[i].style.display="table-row";
    }else{
        paras.children[i].style.display="none";
    }}
    select_project = document.getElementById("project")
    project_paras = document.getElementById("project_paras")
    for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        project_paras.children[i].style.display="table-row";
    }else{
        project_paras.children[i].style.display="none";
    }}
</script>
<script type="text/javascript">
    $("#algorithm").change(function(){
    select_algorithm = document.getElementById("algorithm")
    desc = document.getElementById("algorithms_desc")
    for(var i=0;i<desc.children.length;i++){
    id_split = desc.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        desc.children[i].style.display="table-row";
    }else{
        desc.children[i].style.display="none";
    }}
    paras = document.getElementById("algorithms_paras")
    for(var i=0;i<paras.children.length;i++){
    id_split = paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        paras.children[i].style.display="table-row";
    }else{
        paras.children[i].style.display="none";
    }}
});
</script>
<script type="text/javascript">
    $("#project").change(function(){
    select_project = document.getElementById("project")
    project_paras = document.getElementById("project_paras")
    for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        project_paras.children[i].style.display="table-row";
    }else{
        project_paras.children[i].style.display="none";
    }}
});
</script>
<script type="text/javascript">
            $("#start").click(function () {
            var _data=Object();
            select_algorithm = document.getElementById("algorithm")
            select_project = document.getElementById("project")
            _data['algorithm_id'] = select_algorithm.value
            _data['project_id'] = select_project.value
            _data['check_parameters'] = []
            project_paras = document.getElementById("project_paras")
            for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        checkbox = project_paras.children[i].children[1]
        for(var l=0;l<checkbox.children.length;l++){
            if(checkbox.children[l].checked){
            _data['check_parameters'].push(checkbox.children[l].value)
            }
        }
    }}
            $.ajax({
                url: '{{ url_for('ai.check') }}',
                type: 'POST',
                data: JSON.stringify(_data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    window.location.href = data;
                },
                error: function (xhr) {
                    console.error('error');
                }
            });
        });
</script>
{% endblock %}