{% extends "base.html" %}
{% block navigate_intelligent_check %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">智能审核</div>
                        </div>
                        <div class="widget-body am-fr">
                            <table>
                                <tbody>
                                <tr>
                                    <td>选择算法</td>
                                    <td>
                                        <select id="algorithm">
                                            {% for x in algorithms%}
                                            <option value="{{x.id}}">{{x['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="algorithms_desc">
                                {% for x in algorithms %}
                                <tr id="algorithms_description_{{x['id']}}">
                                    <td>描述</td>
                                    <td>{{x['description']}}</td>
                                </tr>
                                {% endfor %}
                                 </tbody>

                                <tbody id="algorithms_paras">
                                {% for x in algorithms %}
                                <tr id="algorithms_paras_{{x['id']}}">
                                    <td>算法参数</td>
                                    <td>{{x['parameter']}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tbody>
                                <tr>
                                    <td>要检测的项目</td>
                                    <td>
                                        <select id="project">
                                            {% for x in projects%}
                                            <option value="{{x.id}}">{{x['name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody id="project_paras">
                                {% for x in projects%}
                                <tr id="projects_paras_{{x['id']}}">
                                    <td>选择要检测的数据元素</td>
                                    <td>
                                    {% for y in x.parameter_types %}
                                    <input type="checkbox" name="parameters_{{x['id']}}" value="{{y.id}}" checked>{{y.name}}
                                    {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tbody>
                                <tr>
                                    <td><a href="#">
                                        <a class="screen-btn" id="start" href="javascript:;">开始</a> </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">审核结果</div>
                        </div>
                        <div class="widget-body am-fr">
                            <table>
                                <tbody>
                                <tr>
                                    <td>检测的数据总数</td>
                                    <td>11456
                                    </td>
                                </tr>
                                <tr>
                                    <td>异常数量</td>
                                    <td>345</td>
                                </tr>
                                <tr>
                                    <td>异常比例</td>
                                    <td>0.03%</td>
                                </tr>
                                <tr>
                                    <td>检测的数据元素</td>
                                    <td>
                                        高锰酸盐指数;氨氮;总磷
                                    </td>
                                </tr>
                                <tr>
                                    <td>检测结果</td>
                                    <td>[ 1., 1., 1., 1., 1., 1., 1., 1., 1., -1., -1., 1., 1.,<br>
                                        1., 1., 1., 1., 1., 1., 1., 1., -1., 1., 1., 1., 1.,<br>
                                        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,<br>
                                        1., 1., 1., 1., -1., 1., -1., -1., 1., 1., 1., 1., 1.,<br>
                                        1., 1., 1., 1., -1., 1., 1., 1., 1., 1., 1., -1., 1.,<br>
                                        1., 1., 1., 1., 1., 1., -1., 1., 1., 1., 1., 1., 1.,<br>
                                        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,<br>
                                        1., 1., 1., 1., 1.]<br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
<script type="text/javascript">
    select_algorithm = document.getElementById("algorithm")
    desc = document.getElementById("algorithms_desc")
    for(var i=0;i<desc.children.length;i++){
    id_split = desc.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        desc.children[i].style.display="table-row";
    }else{
        desc.children[i].style.display="none";
    }}
    paras = document.getElementById("algorithms_paras")
    for(var i=0;i<paras.children.length;i++){
    id_split = paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        paras.children[i].style.display="table-row";
    }else{
        paras.children[i].style.display="none";
    }}
    select_project = document.getElementById("project")
    project_paras = document.getElementById("project_paras")
    for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        project_paras.children[i].style.display="table-row";
    }else{
        project_paras.children[i].style.display="none";
    }}
</script>
<script type="text/javascript">
    $("#algorithm").change(function(){
    select_algorithm = document.getElementById("algorithm")
    desc = document.getElementById("algorithms_desc")
    for(var i=0;i<desc.children.length;i++){
    id_split = desc.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        desc.children[i].style.display="table-row";
    }else{
        desc.children[i].style.display="none";
    }}
    paras = document.getElementById("algorithms_paras")
    for(var i=0;i<paras.children.length;i++){
    id_split = paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_algorithm.value){
        paras.children[i].style.display="table-row";
    }else{
        paras.children[i].style.display="none";
    }}
});
</script>
<script type="text/javascript">
    $("#project").change(function(){
    select_project = document.getElementById("project")
    project_paras = document.getElementById("project_paras")
    for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        project_paras.children[i].style.display="table-row";
    }else{
        project_paras.children[i].style.display="none";
    }}
});
</script>
<script type="text/javascript">
            $("#start").click(function () {
            var _data=Object();
            select_algorithm = document.getElementById("algorithm")
            select_project = document.getElementById("project")
            _data['algorithm_id'] = select_algorithm.value
            _data['project_id'] = select_project.value
            _data['check_parameters'] = []
            project_paras = document.getElementById("project_paras")
            for(var i=0;i<project_paras.children.length;i++){
    id_split = project_paras.children[i].id.split("_")
    if(id_split[id_split.length-1]==select_project.value){
        checkbox = project_paras.children[i].children[1]
        for(var l=0;l<checkbox.children.length;l++){
            if(checkbox.children[l].checked){
            _data['check_parameters'].push(checkbox.children[l].value)
            }
        }
    }}
            $.ajax({
                url: '{{ url_for('ai.check') }}',
                type: 'POST',
                data: JSON.stringify(_data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data)
                },
                error: function (xhr) {
                    console.error('error');
                }
            });
        });
</script>
{% endblock %}