{% extends "base.html" %}
{% block navigate_expert_rule_setup %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="page-header d-md-flex justify-content-between align-items-center">
        <h4>专家规则设置</h4>
    </div>
    <div class="card">
        <div class="card-header">异常审核标准修改</div>
        <div class="card-body">
            <table class="table table-bordered" id="example-r">
                <thead class="thead-light">
                <tr>
                    <th>异常参数类型名称</th>
                    <th>异常类型说明</th>
                    <th>审核标准</th>
                    <th>修改</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                    <td>{{ not_zero.name }}</td>
                    <td>{{ not_zero.description }}</td>
                    <td>连续<input id="con_not_zero" type="text" value="{{ not_zero.value }}">次</td>
                    <td><a class="screen-btn" id="alert_con_not_zero" href="javascript:;">修改</a></td>
                </tr>
                <tr class="gradeX">
                    <td>{{ zero.name }}</td>
                    <td>{{ zero.description }}</td>
                    <td>连续<input id="con_zero" type="text" value="{{ zero.value }}">次</td>
                    <td><a class="screen-btn" id="alert_con_zero" href="javascript:;">修改</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script type="text/javascript">
        $("#alert_con_not_zero").click(function () {
            var _data = Object();
            _data['value'] = document.getElementById("con_not_zero").value;
            _data['name'] = "{{ not_zero.name }}";
            $.ajax({
                url: '{{ url_for('main.abnormal_rule_alert') }}',
                type: 'POST',
                data: JSON.stringify(_data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.error('error');
                }
            });
        });
        $("#alert_con_zero").click(function () {
            var _data = Object();
            _data['value'] = document.getElementById("con_zero").value;
            _data['name'] = "{{ zero.name }}";
            $.ajax({
                url: '{{ url_for('main.abnormal_rule_alert') }}',
                type: 'POST',
                data: JSON.stringify(_data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.error('error');
                }
            });
        });

    </script>
{% endblock %}