<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>通用数据可信识别系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">

    <!-- begin::global styles -->
    <link rel="stylesheet" href="{{ url_for("static",filename="vendors/bundle.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/app.css") }}" type="text/css">
    <!-- end::global styles -->

    <!-- begin::datepicker -->
    <link rel="stylesheet" href="{{url_for("static", filename="vendors/datepicker/daterangepicker.css")}}">
    <!-- begin::datepicker -->

    <!-- begin::vmap -->
    <link rel="stylesheet" href="{{url_for("static", filename="vendors/vmap/jqvmap.min.css")}}">
    <!-- begin::vmap -->

    <!-- begin::custom styles -->
    <link rel="stylesheet" href="{{url_for("static", filename="css/app.css")}}" type="text/css">
    <link rel="stylesheet" href="{{url_for("static", filename="css/custom.css")}}" type="text/css">
    <link rel="stylesheet" href="{{url_for("static", filename="css/fix.css")}}" type="text/css">
    <!-- end::custom styles -->

    <!-- begin::jquery -->
    <script src="{{url_for("static", filename="vendors/jquery/jquery-3.6.0.js")}}"></script>
    <script src="{{url_for("static", filename="vendors/jquery/jquery.cookie.js")}}"></script>
    <script src="{{url_for("static",filename="vendors/jquery/jquery-ui.js") }}"></script>
    <!-- end::jquery -->

    <!-- begin::global scripts -->
    <script src="{{url_for("static", filename="vendors/bundle.js")}}"></script>
    <!-- end::global scripts -->

    <!-- begin::charts -->
    <script src="{{url_for("static", filename="vendors/charts/chartjs/chart.min.js")}}"></script>
    <script src="{{url_for("static", filename="vendors/charts/peity/jquery.peity.min.js")}}"></script>
    <script src="{{url_for("static", filename="js/examples/charts/chartjs.js")}}"></script>
    <script src="{{url_for("static", filename="js/examples/charts/peity.js")}}"></script>
    <!-- end::charts -->

    <!-- begin::daterangepicker -->
    <script src="{{url_for("static", filename="vendors/datepicker/daterangepicker.js")}}"></script>
    <!-- end::daterangepicker -->

    <!-- begin::dashboard -->
    <script src="{{url_for("static", filename="js/examples/dashboard.js")}}"></script>
    <!-- end::dashboard -->

    <!-- begin::vamp -->
    <script src="{{url_for("static", filename="vendors/vmap/jquery.vmap.min.js")}}"></script>
    <script src="{{url_for("static", filename="vendors/vmap/maps/jquery.vmap.usa.js")}}"></script>
    <script src="{{url_for("static", filename="js/examples/vmap.js")}}"></script>
    <!-- end::vamp -->

{% endblock %}
</head>
<body>
<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
    <span>载入中 ...</span>
</div>
<!-- end::page loader -->

<!-- 侧边菜单-->
<div class="side-menu">
    <div class="side-menu-body">
        <ul>
        <li class="side-menu-divider">Navigation</li>
        <li>
            <a href="{{ url_for("main.index") }}" {% block navigate_index %}{% endblock %}>
                <i class="icon fa fa-home"></i>
                <span>主页</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for("data_import.index") }}" {% block navigate_upload %}{% endblock %}>
                <i class="icon fa fa-upload"></i>
                <span>原始数据导入</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for("main.data_table") }}" {% block navigate_datas %}{% endblock %}>
                <i class="icon fa fa-eye"></i>
                <span>原始数据查看</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for("main.auto_check") }}" {% block navigate_auto_check %}{% endblock %}>
                <i class="icon fa fa-adn"></i>
                <span>数据自动审核</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for("main.manual_check") }}" {% block navigate_manual_check %}{% endblock %}>
                <i class="icon fa fa-user"></i>
                <span>数据人工审核</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for("ai.check") }}" {% block navigate_intelligent_check %}{% endblock %}>
                <i class="icon fa fa-code-fork"></i>
                <span>数据智能审核</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon fa fa-cog"></i>
                <span>审核规则设置</span>
            </a>
            <ul>
                <li>
                    <a href="{{ url_for("main.expert_rule_setup") }}"
                            {% block navigate_expert_rule_setup %}{% endblock %}>
                        专家审核规则设置
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("ai.set_algorithm") }}"
                            {% block navigate_intelligent_rule_setup %}{% endblock %}>
                        智能审核规则设置
                    </a>
                </li>
            </ul>
        </li>
        </ul>
    </div>
</div>
<!-- 标题栏-->
<nav class="navbar">
    <div class="container-fluid">
        <!--            logo area-->
        <div class="header-logo">
            <a href="#">
                <img src="{{ url_for("static",filename="media/image/light-logo.png") }}" alt="...">
                <span class="logo-text text-nowrap">通用数据可信识别系统</span>
            </a>
        </div>
        <!--            greet text-->
        <div class="header-body">
            <div class="navbar-nav"></div>
            <div class="navbar-nav">
                <span class="text-white">当前查看的项目为：{{ project_name if project_name }}</span>
                <select id="projects">
                    <option selected value="0">未设置</option>
                </select>
            </div>
        </div>
    </div>
</nav>

<!-- 内容区域 -->
<main class="main-content">
    <div class="container-fluid">
        {% block context %}
        {% endblock %}
    </div>
</main>

<!-- 页脚 -->
{#<p class="bottom-bar">通用数据可信识别系统</p>#}
{% block script %}
    <!-- begin::custom scripts -->
    <script src="{{url_for("static", filename="js/custom.js")}}"></script>
    <script src="{{url_for("static", filename="js/app.js")}}"></script>
    <!-- end::custom scripts -->
    <script type="text/javascript">
        $.ajax({
            url: '{{ url_for('project.get') }}',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                let p=document.getElementById("projects")
                for(var i=0;i<data.length;i++){
                    var _op = document.createElement('option');
                    _op.value = data[i]['id']
                    _op.innerText = data[i]['name']
                    if(data[i]['selected']){
                        _op.selected=true
                    }
                    p.appendChild(_op)
                }
            },
            error: function (xhr) {
                console.error('error');
            }
        })
        $("#projects").change(function(){
            let p = document.getElementById("projects")
            $.ajax({
                url: '/set_project'+'/'+p.value,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                console.log('success')
                },
                error: function (xhr) {
                    console.error('error');
                }
            });
        });
    </script>
{% endblock %}
</body>
</html>