<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>通用数据可信识别系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <!-- <link rel="icon" href="'assets/img/logo.png'"type="image/png"/> -->
        <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
        <link rel="stylesheet" href="{{ url_for("static",filename="assets/css/amazeui.min.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static",filename="assets/css/amazeui.datatables.min.css") }}"/>
        <link rel="stylesheet" href="{{ url_for("static",filename="assets/css/app.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="assets/css/main.css") }}">
        <link rel="stylesheet" href="{{ url_for("static",filename="assets/css/version.css") }}">
        <script src="{{ url_for("static",filename="assets/js/jquery-1.10.2.min.js") }}"></script>
        <script src="{{ url_for("static",filename="assets/js/public.js") }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {% endblock %}
</head>
<body data-type="chart">
<script src="{{ url_for("static",filename="assets/js/theme.js") }}"></script>

<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <span class="big-title">通用数据可信识别系统</span>
            {#            <span class="small-title">生态数据智能分析系统</span>#}
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="#">当前查看的项目为：{{project_name if project_name}}</a>
                    </li>
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a></a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-nav-link">
                <a href="{{ url_for("main.index") }}" {% block navigate_index %}{% endblock %}>
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 主页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for("data_import.index") }}" {% block navigate_upload %}{% endblock %}>
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 原始数据导入
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for("main.data_table") }}" {% block navigate_datas %}{% endblock %}>
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 原始数据查看
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for("main.auto_check") }}" {% block navigate_auto_check %}{% endblock %}>
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据自动审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for("main.manual_check") }}" {% block navigate_manual_check %}{% endblock %}>
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据人工审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{{ url_for("main.intelligent_check") }}" {% block navigate_intelligent_check %}{% endblock %}>
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 数据智能审核
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="javascript:;" class="sidebar-nav-sub-title">
                    <i class="am-icon-table sidebar-nav-link-logo"></i>审核规则设置
                    <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                </a>
                <ul class="sidebar-nav sidebar-nav-sub">
                    <li class="sidebar-nav-link">
                        <a href="{{ url_for("main.expert_rule_setup") }}"
                                {% block navigate_expert_rule_setup %}{% endblock %}>
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 专家审核规则设置
                        </a>
                    </li>

                    <li class="sidebar-nav-link">
                        <a href="{{ url_for("main.intelligent_rule_setup") }}"
                                {% block navigate_intelligent_rule_setup %}{% endblock %}>
                            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 智能审核规则设置
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 内容区域 -->
    {% block context %}
    {% endblock %}
    <p class="bottom-bar">通用数据可信识别系统</p>
</div>
{% block script %}
    <script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="{{ url_for("static",filename="assets/js/amazeui.datatables.min.js") }}"></script>
    <script src="{{ url_for("static",filename="assets/js/dataTables.responsive.min.js") }}"></script>
{% endblock %}
</body>
</html>