{% extends "base.html" %}
{% block navigate_expert_rule_setup %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">专家规则设置</div>
                        </div>
                        <div class="widget-body am-fr">
                            <table>
                                <tr>
                                    <td>异常审核标准修改</td>
                                    <td><a href="{{ url_for('main.abnormal_rule_alert') }}">
                                        <i class="am-icon-pencil"></i>进入
                                    </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>参数范围设置</td>
                                    <td>
                                        <a href="{{ url_for('main.parameter_range_alert') }}">
                                            <i class="am-icon-pencil"></i>进入
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}