{% extends "base.html" %}
{% block navigate_expert_rule_setup %}class="active"{% endblock %}
{% block context %}
    <!-- 内容区域 -->
    <div class="page-header d-md-flex justify-content-between align-items-center">
        <h4>专家规则设置</h4>
    </div>
    <div class="card">
        <div class="card-header">专家规则设置</div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <td>异常审核标准修改</td>
                    <td><a href="{{ url_for('main.abnormal_rule_alert') }}">
                        <i class="fa fa-pencil"></i>进入
                    </a>
                    </td>
                </tr>
                <tr>
                    <td>参数范围设置</td>
                    <td>
                        <a href="{{ url_for('main.parameter_range_alert') }}">
                            <i class="fa fa-pencil"></i>进入
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}