{% extends "base.html" %}
{% block navigate_upload %}class="active"{% endblock %}
{% block context %}
<!-- 内容区域 -->
<div class="page-header d-md-flex justify-content-between align-items-center">
    <h4>原始数据导入</h4>
</div>
<div class="card">
    <div class="card-header">
        <span>审核参数设置</span>
        <i class="fa fa-question-circle"
           data-toggle="tooltip" data-placement="top" title=""
           data-original-title="未设置的参数将不会进行上下限检测，只设置上限/下限的将只会进行上限/下限检测"></i>
    </div>
    <div class="card-body">
        <table class="table table-bordered"
               id="example-r">
            <thead class="thead-light">
            <tr>
                <th>参数</th>
                <th>最小值</th>
                <th>最大值</th>
            </tr>
            </thead>
            <tbody>
            {% for x in paras %}
            <tr class="gradeX" id="pt_{{x.id}}">
                <td>{{ x.name }}</td>
                <td><input id="min_{{ x.id }}" type="text" value="{{ x.min if x.min else "未设置" }}"></td>
                <td><input id="max_{{ x.id }}" type="text" value="{{ x.max if x.min else "未设置" }}"></td>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-bordered" id="example-r">
            <thead class="thead-light">
            <tr>
                <th>参数类型名称</th>
                <th>异常类型说明</th>
                <th>审核标准</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX">
                <td>{{ not_zero.name }}</td>
                <td>{{ not_zero.description }}</td>
                <td>连续<input id="con_not_zero" type="text" value="{{ not_zero.value }}">次</td>
            </tr>
            <tr class="gradeX">
                <td>{{ zero.name }}</td>
                <td>{{ zero.description }}</td>
                <td>连续<input id="con_zero" type="text" value="{{ zero.value }}">次</td>
            </tr>
            </tbody>
        </table>
        <div class="btn btn-primary" id="submit" href="javascript:">提交</div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
            $("#submit").click(function () {
                var _data = Object();
                _data['para_types']=[]
                ids = [{% for x in paras %}{{x.id}}, {% endfor %}]
                for (var i = 0; i < ids.length; i++) {
                var _p = Object();
                _p['max'] = document.getElementById("max_"+ids[i]).value;
                _p['min'] = document.getElementById("min_"+ids[i]).value;
                _p['id'] = ids[i];
                _data['para_types'].push(_p)};
                _data['zero']=document.getElementById("con_zero").value;
                _data['not_zero']=document.getElementById("con_not_zero").value;
                $.ajax({
                    url: '{{url_for('data_import.set_range', pid=pid,start_data_id=start_data_id,end_data_id=end_data_id)}}',
                    type: 'POST',
                    data: JSON.stringify(_data),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                    location.replace(data['data']);
                    },
                    error: function (xhr) {
                        console.error('error');
                    }
                });
            });
</script>
{% endblock %}